.row {
  margin: 1%;
}

.title {
  color: white;
  font-weight: 900;
  text-decoration: underline;
}

.posters {
  margin: 0.6% -1%;
  padding: 2% 3%;
  max-height: 14rem;
  max-width: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.posters::-webkit-scrollbar {
  display: none;
}

.posters li {
  list-style: none;
  margin: 0.4%;
}

.movie_poster {
  cursor: pointer;
  margin: 1% 4%;
  max-height: 80px;
  border: 1px solid gold;
  border-radius: 8px;

  transition: all 0.5s;
}

.movie_poster:hover {
  transform: scale(1.1, 1.2);
  margin: 0 4%;
}

.large_movie_poster {
  max-height: 200px;
}
.large_movie_poster:hover {
  transform: scale(1.1, 1.2);
  margin: 0 4%;
}
