.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 90;
}

.nav_black {
  background-color: #111;
}

.nav__content {
  margin: 0.6% 0;
  display: flex;
  justify-content: space-between;
}

.nav_not_logged_in {
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
}
.netflix_logo {
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  margin: 6px 8px;
  transition: all 0.5s;
}
.netflix_logo:hover {
  transform: scale(1.1);
}

.search {
  width: 100%;
  height: 3rem;
  text-align: center;
  position: fixed;
  top: 80px;
  left: 0;
  animation: comeout 300ms ease-out;
}

.search_field {
  width: 60%;
  height: 2.8rem;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  padding: 0 2%;
  box-shadow: 2px 1px 6px 1px #e53c09;
  transition: all 0.5s;
}
.search_field:hover,
.search_field:active {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 1px 6px 1px #ee5425;
}

.search_field::placeholder {
  word-spacing: 12px;
  letter-spacing: 6px;
  font-style: italic;
  transition: all 0.5s;
}
.search_field:focus::placeholder {
  color: transparent;
}

.search_btn {
  cursor: pointer;
  background-color: #e53c09;
  padding: 4px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 2px;
  position: absolute;
  top: 0.5%;
  transition: all 0.5s;
}

.search_btn img {
  width: 30px;
  height: 30px;
  font-size: 2px;
  filter: invert(1);
  object-fit: cover;
}
.search_btn:hover {
  background-color: #b63209;
}

.sign_in {
  cursor: pointer;
  margin-top: 0.2%;
  padding: 0 1%;
  width: 80px;
  height: 1.8rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #e53c09;
  color: white;
  transition: all 0.5s;
}

.sign_in:hover {
  background-color: #b63209;
}

.avatar_logo {
  cursor: pointer;
  margin: 0.2% 6%;
  width: 2.5rem;
  height: 2.5rem;
}

.nav_right_button {
  display: flex;
  width: 120px;
}

.search_bar_open {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  filter: invert(1);
  margin-left: 8px;
}
.search_bar_open img {
  width: 40px;
  height: 30px;
  font-size: 2px;
}

@media (max-width: 245px) {
  .nav_right_button {
    width: 200px;
  }
  .netflix_logo {
    width: 5rem;
    height: 2rem;
  }
}

@keyframes comeout {
  0% {
    opacity: 0;
    transform: translateY(-42px);
  }

  100% {
    opacity: 1;
    transform: translateY(8px);
  }
}

@media (max-width: 670px) {
  .search_field::placeholder {
    word-spacing: 4px;
    letter-spacing: 2px;
  }
}

@media (max-width: 448px) {
  .search {
    margin-left: -4%;
  }
  .search_field::placeholder {
    word-spacing: 0;
    letter-spacing: 0;
  }
}

@media (max-width: 338px) {
  .search {
    margin-left: -8%;
  }
  .search_field::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 254px) {
  .search_field::placeholder {
    font-size: 10px;
  }
}
