.all_movies {
  margin: 10% 12%;
  display: flex;
}
.movie {
  margin: 2% 0;
  padding: 8px;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
  color: white;
  box-shadow: 2px 2px 10px 2px rgb(24, 22, 22);
}

.movie img {
  cursor: pointer;
  height: 180px;
  width: 140px;
  border-radius: 5px;
  transition: all 0.5s;
}
.movie img:hover {
  transform: scale(2.5);
}
.movie_info {
  margin: auto 0;
  margin-left: 1%;
}
.movie_info h1 {
  margin-bottom: 2%;
}
.movie_info h1 a {
  color: #e53c09;
  text-decoration: none;
  transition: all 0.5s;
}

.movie_info h1 a:hover {
  color: #a52b06;
}

.page {
  display: flex;
  margin-top: -10%;
  margin-bottom: 4%;
  margin-left: 25%;
}
.page h3 {
  margin-right: 2%;
  color: white;
}

@media (max-width: 585px) {
  .page {
    margin-left: 10%;
    width: 100%;
  }
}
@media (max-width: 440px) {
  .page {
    margin-left: 4%;
    width: 100%;
  }
}

@media (max-width: 397px) {
  .page {
    margin-left: 9%;
  }
  .page h3 {
    font-size: 15px;
  }
  .all_movies {
    margin-left: 6%;
  }
}
@media (max-width: 304px) {
  .page {
    margin-left: 2%;
    width: 110%;
  }
}
